# =========================================================================
# Nodemailer SMTP Configuration (For Email Automation)
# =========================================================================
# The host of your SMTP server. For Gmail, use: smtp.gmail.com
SMTP_HOST=smtp.office365.com

# For TLS (recommended), use port 587. For SSL, use port 465.
SMTP_PORT=587

# Set to "true" if using SSL on port 465. Set to "false" if using TLS on port 587.
SMTP_SECURE=false

# Your email address (e.g. your gmail username)
SMTP_USER=donotreply@cerityglobal.com

# Your 16-character Google App Password (do NOT use your login password)
SMTP_PASS=H!060099495441oq

# The sender address shown in client inboxes
SMTP_FROM_EMAIL=donotreply@cerityglobal.com

RECIEVER_EMAIL=donotreply@cerityglobal.com

# Disable email mocks to send real emails
MOCK_EMAIL=false
